nav {
    /* background-color:#0979E4 ; */
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-around ;
    align-items: center;
    height: 70px;
    position: fixed; 
    left: 0;
    right: 0;
}

.nav-items {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hero {
    background-image: url(../images/asset0.jpeg);
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.hero-content {
    width: 80%;
}
.hire-me {
    border: 1px solid red;
}

.hi-there {
    /* border:1px white; */
    width: 90px;
    /* border-radius: 3px; */
     /* padding-left:1rem; */
    /* font-size: small; */
    background-color:#FFFFFF;
    color:#0779E4;
    font-weight: bold;
    /* height: 25px; */
    /* padding-top: 5px; */
    /* padding-right:2px ; */
    text-align: center;
     }

     .my-name{
        font-size: 3.5rem;
        color: #FFFFFF;
     }


.bio {
    width: 60%;
    line-height: 2.5;
}

.text-white {
    color: white;
}

.text-bold {
    font-weight: bold;
}